* {
    background-color: #AFD3E2;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
    width: 850px;
    display: block;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.header {
    margin-left: 290px;
    margin-bottom: 120px;
    background-color: white;
}
.title {
    margin-left: 50px;
    margin-top: -30px;
    font-size: 40px;
    background-color: white;
    font-family: 'Caveat', cursive;
    color: #19A7CE;
}
.pp {
    width: 250px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    margin-top: -170px;
}
.img {
    width: 250px;
    margin: 5px;
    border-radius: 5px;
}
.content {
    margin-left: 30px;
    background-color: white;
}
.f-6 {
    height: 380px;
    width: 515px;
}
.parent {
    position: relative;
    top: 0;
    background-color: white;
}
.bg {
    position: relative;
    width: 950px;
    margin-left: -340px;
}
a {
    background-color: white;
}
.left-logo {
    background-color: white;
    width: 35px;
    text-decoration: none;
}